.Hour {
  display: block;
  width: 100px;
  height: 100%;
  padding: 1px;
  text-align: center;
  &:hover {
    background-color: #d1d1d1;
    border: 1px solid black;
    padding: 0;
  }
}

@media (max-width: 500px) {
  .Hour {
    width: 30%;
  }
}
