@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
  margin: 0;
  font-family: 'Lato', sans-serif;

  background: rgb(139,198,126);
background: linear-gradient(90deg, rgba(139,198,126,1) 10%, rgba(203,243,195,1) 90%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
