.Item {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2px;
  // background-color: #cbf3c3;
  background: rgb(94, 138, 146);
  background: linear-gradient(
    90deg,
    rgba(94, 138, 146, 1) 10%,
    rgba(183, 220, 227, 1) 90%
  );

  margin-top: 20px;
  box-shadow: -3px -3px #0f373e inset;
  border: 2px solid #001013;
  border-radius: 5px;
  //padding: 10px;
  h4 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 30px;
  }
}
.Main {
  img {
    height: 80px;
  }

  font-size: 20px;
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
.Row {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 10px 0;
}
h5 {
  font-size: 20px;
  margin: 10px 0px;
}

h1{
  margin-top: 10px;
}

.Hours {
  width: 100%;
  //height: 150px;
  display: table;
  //flex-flow: row wrap;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  justify-content: left;
  margin: 0;
  padding: 0;
}
.Prediction {
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

@media (max-width: 700px) {
  .Row {
    display: block;
  }
}
